# BUILD A UNIVERSE OF HIGH-VOLATILITY STOCKS

<img src="https://github.com/Portman-Dixon/alpha_combination/blob/main/images/logo.png" alt="Logo" width="200" height="200">

# Summary

1. Goal
2. Import libraries
3. Extract the ticker name of each symbol from our universe of s&p500 stock's csv files
4. Import ohlcv data of each ticker and put them into a single dataframe
5. Remove the tickers that were not traded during all the lenght of the dataset
6. Store in a new list, only the tickers that were traded during all the lenght of the dataset
7. Separate the dataset into a train set and a test set
8. Compute volatility and autocorrelation of stocks on in sample data
9. Extract the stocks with positive autocorrelation and the stocks with negative autocorrelation
10. Extract the 30 stocks with the highest volatility
11. Download ohlcv data for these stocks
12. Export data to csv format

# 1. Goal

- Extract a universe of 30 stocks with positive auto-correlation and high volatility (for testing a momentum strategy)
- Extract a universe of 30 stocks with negative auto-correlation and high volatility (for testing a mean reversion strategy)

# 2. Import libraries

In [1]:
# Library for data handling
import pandas as pd
import numpy as np

# Libraries for plotting
import matplotlib.pyplot as plt
%matplotlib inline

# Library for fetching datas
import yfinance as yf

# Divers
import datetime as dt
import warnings
warnings.filterwarnings('ignore')
import pathlib
import statsmodels.api as sm

# 3. Extract the ticker name of each symbol from our universe of s&p500 stock's csv files

In [2]:
# Define a path toward the directory containing the csv files of each ticker
path = '/Path/toward/the/directory/where/your/.csv/files/are/stored/'

# Extract the tickers names and store them into a variable
selected_tickers = [filename.stem for filename in pathlib.Path(path).glob('*.csv')]
print(len(selected_tickers))
print(selected_tickers)

503
['CSCO', 'UAL', 'TROW', 'ISRG', 'NVR', 'TPR', 'DVN', 'CE', 'MRO', 'BA', 'VRTX', 'BRK.B', 'GILD', 'EQIX', 'TER', 'PODD', 'MDT', 'V', 'QRVO', 'A', 'FOX', 'FLT', 'MO', 'CTRA', 'SWKS', 'ENPH', 'MCHP', 'CDNS', 'MSCI', 'CHTR', 'EIX', 'KDP', 'BBY', 'GEN', 'WBA', 'LVS', 'HCA', 'AJG', 'DTE', 'C', 'T', 'CF', 'MGM', 'HUM', 'CBOE', 'CFG', 'APH', 'SYY', 'MSI', 'FCX', 'ADM', 'OGN', 'LH', 'LNT', 'BAC', 'LNC', 'PSX', 'GPN', 'PPG', 'TECH', 'IRM', 'IQV', 'ESS', 'WBD', 'HAL', 'STZ', 'DXC', 'BG', 'PARA', 'ADI', 'F', 'ADBE', 'STLD', 'CPRT', 'TDG', 'TFX', 'ULTA', 'ARE', 'SYK', 'CB', 'TSN', 'GNRC', 'PEP', 'PEG', 'NOW', 'LLY', 'COST', 'REG', 'NWS', 'LOW', 'MDLZ', 'BKNG', 'ZBRA', 'FMC', 'XEL', 'AIZ', 'MET', 'FTV', 'DLR', 'ACGL', 'XRAY', 'FAST', 'TJX', 'SNA', 'MPC', 'BR', 'D', 'MRK', 'STX', 'NOC', 'BXP', 'KHC', 'IPG', 'UNP', 'ALLE', 'ABBV', 'CDAY', 'ORCL', 'ECL', 'ETR', 'EBAY', 'SBUX', 'IR', 'AMT', 'INTU', 'DPZ', 'PAYC', 'CMA', 'PG', 'CAT', 'ODFL', 'MCD', 'MNST', 'AMZN', 'GEHC', 'INTC', 'PNR', 'GLW', 'BDX', 'KMI', 'CSGP', 'PWR', 'APTV', 'BBWI', 'DXCM', 'EXR', 'WELL', 'HOLX', 'EXPD', 'GM', 'TXN', 'VRSK', 'FI', 'SJM', 'TMO', 'OXY', 'RL', 'CCI', 'MMM', 'MOS', 'FTNT', 'HSY', 'JNPR', 'DHI', 'ED', 'ES', 'ADSK', 'GL', 'INVH', 'IP', 'EXPE', 'KO', 'PCAR', 'RVTY', 'WDC', 'PYPL', 'NEE', 'UPS', 'ELV', 'EMR', 'MSFT', 'ANSS', 'CTAS', 'BIO', 'UDR', 'CTLT', 'WEC', 'AME', 'IT', 'DD', 'ACN', 'VRSN', 'EW', 'CMG', 'AWK', 'COO', 'SHW', 'HPQ', 'AMAT', 'CCL', 'MLM', 'AVY', 'AAP', 'ATVI', 'EVRG', 'EA', 'DE', 'SPG', 'AMD', 'KLAC', 'NDAQ', 'URI', 'WHR', 'RTX', 'NXPI', 'PNC', 'KMX', 'SEDG', 'WRK', 'MTCH', 'BIIB', 'NVDA', 'CHRW', 'ROP', 'IDXX', 'EXC', 'HES', 'HD', 'ALB', 'VLO', 'AON', 'ZTS', 'FDX', 'DG', 'TYL', 'HIG', 'CMS', 'CAG', 'INCY', 'SCHW', 'HSIC', 'AZO', 'AXP', 'HPE', 'DFS', 'SEE', 'HRL', 'SO', 'FRT', 'ZBH', 'CME', 'XOM', 'AMP', 'BF.B', 'CVX', 'CMCSA', 'PCG', 'PNW', 'ICE', 'BEN', 'UHS', 'BKR', 'EMN', 'SBAC', 'ROK', 'PTC', 'NRG', 'NSC', 'NKE', 'FIS', 'FANG', 'VTR', 'MAS', 'RF', 'ETSY', 'AMCR', 'TAP', 'MAR', 'XYL', 'CMI', 'MTD', 'KR', 'PLD', 'IBM', 'USB', 'BSX', 'LKQ', 'LIN', 'ITW', 'EOG', 'KMB', 'PEAK', 'SPGI', 'NEM', 'WFC', 'CTVA', 'EL', 'GS', 'GD', 'CNP', 'PM', 'RE', 'MCO', 'CLX', 'CAH', 'PANW', 'MPWR', 'DGX', 'AVB', 'DIS', 'CBRE', 'GE', 'HII', 'LDOS', 'ALL', 'ETN', 'ALGN', 'NFLX', 'LEN', 'FITB', 'WST', 'GWW', 'TRGP', 'NTRS', 'FICO', 'AXON', 'CVS', 'AOS', 'FE', 'ABC', 'JPM', 'ABT', 'OMC', 'COF', 'TSCO', 'PH', 'HST', 'JBHT', 'MRNA', 'TSLA', 'MOH', 'ATO', 'COP', 'DHR', 'CNC', 'MCK', 'TXT', 'MTB', 'FDS', 'VTRS', 'AKAM', 'ROL', 'RMD', 'WRB', 'GOOGL', 'BRO', 'ANET', 'PAYX', 'ALK', 'DRI', 'ILMN', 'META', 'AAL', 'MAA', 'MMC', 'FOXA', 'POOL', 'CZR', 'FFIV', 'CINF', 'VMC', 'MKTX', 'SRE', 'LHX', 'ORLY', 'IVZ', 'RCL', 'PXD', 'SNPS', 'GOOG', 'EPAM', 'NDSN', 'YUM', 'EQT', 'LYV', 'PFE', 'AVGO', 'DUK', 'REGN', 'CL', 'VFC', 'VZ', 'JCI', 'FSLR', 'AMGN', 'TEL', 'JKHY', 'ADP', 'ON', 'STT', 'RSG', 'IFF', 'CARR', 'TRMB', 'QCOM', 'LYB', 'GIS', 'PHM', 'ROST', 'LUV', 'LW', 'MS', 'CPB', 'OKE', 'BK', 'J', 'SYF', 'CHD', 'HWM', 'MHK', 'TFC', 'DAL', 'APA', 'K', 'AFL', 'CSX', 'NI', 'CPT', 'PFG', 'NCLH', 'ZION', 'RJF', 'HBAN', 'UNH', 'PRU', 'GPC', 'WTW', 'WMB', 'EQR', 'DVA', 'AIG', 'MA', 'HON', 'VICI', 'O', 'NWSA', 'TTWO', 'AES', 'SLB', 'TT', 'TGT', 'AAPL', 'MKC', 'OTIS', 'CEG', 'TDY', 'WY', 'APD', 'GRMN', 'AEE', 'HLT', 'DLTR', 'STE', 'HAS', 'TMUS', 'WMT', 'NTAP', 'KIM', 'BAX', 'LMT', 'KEY', 'KEYS', 'BMY', 'PSA', 'WYNN', 'RHI', 'EFX', 'NUE', 'PKG', 'WAB', 'CTSH', 'SWK', 'CRL', 'MU', 'TRV', 'L', 'AEP', 'CI', 'DOW', 'CDW', 'BALL', 'JNJ', 'WM', 'DOV', 'CRM', 'PGR', 'WAT', 'IEX', 'BWA', 'LRCX', 'NWL', 'BLK', 'PPL']

# 4. Import ohlcv data of each ticker and put them into a single dataframe

In [3]:
prices = []

# Iterate through the list of symbols to import their respective ohlc datas and to rename the columns of 
# their dataframes. Store the dataframes into the empty list 'prices'
for symbol in selected_tickers:
    
    df = pd.read_csv(f'{path}/{symbol}.csv')[['Date','Open','High','Low','Close']] # Import data into a dataframe
    df = df.set_index('Date') # Use the column Date as index
    df.columns = [f'{symbol}_o', f'{symbol}_h', f'{symbol}_l', f'{symbol}_c'] # Rename columns
    prices.append(df) # Store the dataframes into the list 'prices'
    
prices_df = pd.concat(prices, axis=1, sort=True) # Concatenate the dataframes to have a single dataframe

# 5. Remove the tickers that were not traded during all the lenght of the dataset

In [4]:
prices_df = prices_df.dropna(axis=1) # Remove columns containing NaN values
prices_df

,CSCO_o,CSCO_h,CSCO_l,CSCO_c,TROW_o,TROW_h,TROW_l,TROW_c,ISRG_o,ISRG_h,...,NWL_l,NWL_c,BLK_o,BLK_h,BLK_l,BLK_c,PPL_o,PPL_h,PPL_l,PPL_c
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-03,17.209999,17.490000,17.180000,17.450001,36.185001,36.584999,35.555000,36.494999,13.210000,13.210000,...,23.389999,23.850000,109.480003,109.529999,105.739998,109.000000,27.588068,28.016512,27.457672,27.941999
2006-01-04,17.480000,17.930000,17.459999,17.850000,36.494999,37.009998,36.494999,36.660000,12.914444,13.564444,...,23.700001,24.059999,109.250000,109.739998,108.660004,109.180000,28.128281,28.193478,27.429729,28.184164
2006-01-05,17.940001,18.480000,17.930000,18.350000,36.810001,36.910000,36.415001,36.630001,13.775556,13.777778,...,23.920000,24.150000,109.430000,109.430000,107.830002,108.000000,27.951315,28.212107,27.588068,27.662580
2006-01-06,18.510000,18.879999,18.469999,18.770000,36.750000,37.150002,36.639999,36.930000,13.081111,13.575556,...,23.900000,24.010000,107.790001,110.419998,107.790001,110.419998,27.941999,28.035139,27.774347,27.802290
2006-01-09,18.969999,19.110001,18.920000,19.059999,37.080002,37.459999,36.775002,37.430000,13.364444,13.888889,...,23.879999,24.280001,111.790001,112.489998,110.510002,111.699997,27.774347,27.979256,27.681208,27.979256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-20,51.939999,52.080002,51.470001,51.549999,112.940002,113.669998,111.860001,112.449997,328.000000,329.679993,...,8.200000,8.270000,695.690002,696.460022,687.500000,690.950012,26.910000,26.959999,26.639999,26.700001
2023-06-21,51.380001,51.400002,50.820000,50.849998,111.610001,112.150002,110.199997,110.239998,327.829987,327.829987,...,8.070000,8.100000,690.719971,696.150024,686.400024,689.039978,26.580000,26.950001,26.290001,26.889999
2023-06-22,50.650002,51.139999,50.430000,51.119999,109.820000,109.820000,106.480003,106.559998,323.690002,328.279999,...,7.830000,7.920000,684.409973,684.510010,675.369995,679.380005,26.959999,27.000000,26.540001,26.719999
2023-06-23,50.639999,50.720001,50.090000,50.330002,105.550003,106.570000,105.099998,106.330002,324.709991,328.679993,...,7.800000,7.850000,670.349976,682.929993,670.000000,680.450012,26.760000,26.770000,26.290001,26.379999
2023-06-26,50.310001,50.799999,50.180000,50.209999,106.150002,107.959999,106.059998,107.019997,326.600006,328.429993,...,7.840000,8.220000,678.080017,684.989990,678.080017,680.169983,26.510000,26.620001,26.209999,26.530001

# 6. Store in a new list, only the tickers that were traded during all the lenght of the dataset

In [5]:
cleaned_tickers_list = set()

def clean_tickers_name(column):
    
    ticker_name = column.split("_")[0] # Extract the ticker name before the underscore
    # Check if the column name is not 'doublon' and the cleaned name is not in the list
    if column != "doublon" and ticker_name not in cleaned_tickers_list:
        cleaned_tickers_list.add(ticker_name)
        return ticker_name
    return None

# Call the function for each column and filter out None values
selected_tickers2 = list(filter(None, map(clean_tickers_name, prices_df.columns)))
print(len(selected_tickers2))
print(selected_tickers2)

416
['CSCO', 'TROW', 'ISRG', 'NVR', 'TPR', 'DVN', 'CE', 'MRO', 'BA', 'VRTX', 'GILD', 'EQIX', 'TER', 'MDT', 'A', 'MO', 'CTRA', 'SWKS', 'MCHP', 'CDNS', 'EIX', 'BBY', 'GEN', 'WBA', 'LVS', 'AJG', 'DTE', 'C', 'T', 'CF', 'MGM', 'HUM', 'APH', 'SYY', 'MSI', 'FCX', 'ADM', 'LH', 'LNT', 'BAC', 'LNC', 'GPN', 'PPG', 'TECH', 'IRM', 'ESS', 'WBD', 'HAL', 'STZ', 'DXC', 'BG', 'PARA', 'ADI', 'F', 'ADBE', 'STLD', 'CPRT', 'TFX', 'ARE', 'SYK', 'CB', 'TSN', 'PEP', 'PEG', 'LLY', 'COST', 'REG', 'LOW', 'MDLZ', 'BKNG', 'ZBRA', 'FMC', 'XEL', 'AIZ', 'MET', 'DLR', 'ACGL', 'XRAY', 'FAST', 'TJX', 'SNA', 'D', 'MRK', 'STX', 'NOC', 'BXP', 'IPG', 'UNP', 'ORCL', 'ECL', 'ETR', 'EBAY', 'SBUX', 'AMT', 'INTU', 'DPZ', 'CMA', 'PG', 'CAT', 'ODFL', 'MCD', 'MNST', 'AMZN', 'INTC', 'PNR', 'GLW', 'BDX', 'CSGP', 'PWR', 'BBWI', 'DXCM', 'EXR', 'WELL', 'HOLX', 'EXPD', 'TXN', 'FI', 'SJM', 'TMO', 'OXY', 'RL', 'CCI', 'MMM', 'MOS', 'HSY', 'JNPR', 'DHI', 'ED', 'ES', 'ADSK', 'GL', 'IP', 'EXPE', 'KO', 'PCAR', 'RVTY', 'WDC', 'NEE', 'UPS', 'ELV', 'EMR', 'MSFT', 'ANSS', 'CTAS', 'BIO', 'UDR', 'WEC', 'AME', 'IT', 'DD', 'ACN', 'VRSN', 'EW', 'COO', 'SHW', 'HPQ', 'AMAT', 'CCL', 'MLM', 'AVY', 'AAP', 'ATVI', 'EVRG', 'EA', 'DE', 'SPG', 'AMD', 'KLAC', 'NDAQ', 'URI', 'WHR', 'RTX', 'PNC', 'KMX', 'MTCH', 'BIIB', 'NVDA', 'CHRW', 'ROP', 'IDXX', 'EXC', 'HES', 'HD', 'ALB', 'VLO', 'AON', 'FDX', 'TYL', 'HIG', 'CMS', 'CAG', 'INCY', 'SCHW', 'HSIC', 'AZO', 'AXP', 'SEE', 'HRL', 'SO', 'FRT', 'ZBH', 'CME', 'XOM', 'AMP', 'CVX', 'CMCSA', 'PCG', 'PNW', 'ICE', 'BEN', 'UHS', 'BKR', 'EMN', 'SBAC', 'ROK', 'PTC', 'NRG', 'NSC', 'NKE', 'FIS', 'VTR', 'MAS', 'RF', 'TAP', 'MAR', 'CMI', 'MTD', 'KR', 'PLD', 'IBM', 'USB', 'BSX', 'LKQ', 'LIN', 'ITW', 'EOG', 'KMB', 'PEAK', 'SPGI', 'NEM', 'WFC', 'EL', 'GS', 'GD', 'CNP', 'RE', 'MCO', 'CLX', 'CAH', 'MPWR', 'DGX', 'AVB', 'DIS', 'CBRE', 'GE', 'ALL', 'ETN', 'ALGN', 'NFLX', 'LEN', 'FITB', 'WST', 'GWW', 'NTRS', 'FICO', 'AXON', 'CVS', 'AOS', 'FE', 'ABC', 'JPM', 'ABT', 'OMC', 'COF', 'TSCO', 'PH', 'HST', 'JBHT', 'MOH', 'ATO', 'COP', 'DHR', 'CNC', 'MCK', 'TXT', 'MTB', 'FDS', 'VTRS', 'AKAM', 'ROL', 'RMD', 'WRB', 'GOOGL', 'BRO', 'PAYX', 'ALK', 'DRI', 'ILMN', 'AAL', 'MAA', 'MMC', 'POOL', 'FFIV', 'CINF', 'VMC', 'MKTX', 'SRE', 'LHX', 'ORLY', 'IVZ', 'RCL', 'PXD', 'SNPS', 'GOOG', 'NDSN', 'YUM', 'EQT', 'LYV', 'PFE', 'DUK', 'REGN', 'CL', 'VFC', 'VZ', 'JCI', 'AMGN', 'JKHY', 'ADP', 'ON', 'STT', 'RSG', 'IFF', 'TRMB', 'QCOM', 'GIS', 'PHM', 'ROST', 'LUV', 'MS', 'CPB', 'OKE', 'BK', 'J', 'CHD', 'MHK', 'TFC', 'APA', 'K', 'AFL', 'CSX', 'NI', 'CPT', 'PFG', 'ZION', 'RJF', 'HBAN', 'UNH', 'PRU', 'GPC', 'WTW', 'WMB', 'EQR', 'DVA', 'AIG', 'HON', 'O', 'TTWO', 'AES', 'SLB', 'TT', 'TGT', 'AAPL', 'MKC', 'TDY', 'WY', 'APD', 'GRMN', 'AEE', 'DLTR', 'STE', 'HAS', 'WMT', 'NTAP', 'KIM', 'BAX', 'LMT', 'KEY', 'BMY', 'PSA', 'WYNN', 'RHI', 'EFX', 'NUE', 'PKG', 'WAB', 'CTSH', 'SWK', 'CRL', 'MU', 'TRV', 'L', 'AEP', 'CI', 'BALL', 'JNJ', 'WM', 'DOV', 'CRM', 'PGR', 'WAT', 'IEX', 'BWA', 'LRCX', 'NWL', 'BLK', 'PPL']

# 7. Separate the dataset into a train set and a test set

In [11]:
split = int(len(prices_df)*0.5)
is_df = prices_df.iloc[:split]
oos_df = prices_df.iloc[split:]

print('length is_df:', len(is_df))
print('length oos_df:', len(oos_df))

length is_df: 2199
length oos_df: 2200

In [13]:
is_df

,CSCO_o,CSCO_h,CSCO_l,CSCO_c,TROW_o,TROW_h,TROW_l,TROW_c,ISRG_o,ISRG_h,...,NWL_l,NWL_c,BLK_o,BLK_h,BLK_l,BLK_c,PPL_o,PPL_h,PPL_l,PPL_c
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-03,17.209999,17.490000,17.180000,17.450001,36.185001,36.584999,35.555000,36.494999,13.210000,13.210000,...,23.389999,23.850000,109.480003,109.529999,105.739998,109.000000,27.588068,28.016512,27.457672,27.941999
2006-01-04,17.480000,17.930000,17.459999,17.850000,36.494999,37.009998,36.494999,36.660000,12.914444,13.564444,...,23.700001,24.059999,109.250000,109.739998,108.660004,109.180000,28.128281,28.193478,27.429729,28.184164
2006-01-05,17.940001,18.480000,17.930000,18.350000,36.810001,36.910000,36.415001,36.630001,13.775556,13.777778,...,23.920000,24.150000,109.430000,109.430000,107.830002,108.000000,27.951315,28.212107,27.588068,27.662580
2006-01-06,18.510000,18.879999,18.469999,18.770000,36.750000,37.150002,36.639999,36.930000,13.081111,13.575556,...,23.900000,24.010000,107.790001,110.419998,107.790001,110.419998,27.941999,28.035139,27.774347,27.802290
2006-01-09,18.969999,19.110001,18.920000,19.059999,37.080002,37.459999,36.775002,37.430000,13.364444,13.888889,...,23.879999,24.280001,111.790001,112.489998,110.510002,111.699997,27.774347,27.979256,27.681208,27.979256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-09-22,25.190001,25.190001,24.860001,24.969999,80.070000,80.080002,79.169998,79.190002,51.782223,51.867779,...,34.759998,34.910000,331.000000,331.000000,326.149994,327.609985,31.239157,31.248470,30.875910,31.034248
2014-09-23,24.870001,25.030001,24.670000,24.700001,79.089996,79.650002,78.940002,79.040001,50.391109,50.873333,...,34.700001,35.009998,326.250000,328.559998,324.290009,325.059998,31.015619,31.090132,30.838654,30.838654
2014-09-24,24.730000,25.040001,24.629999,24.980000,79.349998,79.739998,79.019997,79.690002,50.911110,51.924442,...,34.470001,34.669998,325.519989,329.420013,325.000000,329.000000,30.875910,30.903852,30.372953,30.531292
2014-09-25,24.959999,24.959999,24.500000,24.540001,79.589996,79.680000,78.519997,78.720001,51.638889,51.901112,...,34.110001,34.180000,326.959991,328.920013,320.549988,321.519989,30.540606,30.782770,30.503349,30.568548
2014-09-26,24.500000,25.090000,24.459999,25.000000,78.669998,79.489998,78.529999,79.199997,50.771111,51.532223,...,33.980000,34.200001,327.500000,336.880005,327.500000,335.070007,30.624432,30.652374,30.186674,30.475409

# 8. Compute volatility and autocorrelation of stocks on in sample data

In [15]:
def calculate_autocorrelation_volatility(df):
    # Calculate the daily returns for each stock using the 'close' columns
    df_close = df[[col for col in df.columns if col.endswith('_c')]]
    df_returns = df_close.pct_change().dropna()

    # Create a new DataFrame to store the autocorrelation coefficients and volatility for each stock
    autocorrelation_df = pd.DataFrame()

    # Loop through each stock and calculate the autocorrelation coefficient and volatility
    for ticker in set(col.split('_')[0] for col in df_returns.columns):
        returns_col = f"{ticker}_c"
        prev_returns_col = f"{ticker}_c" + '_lagged'  # Add '_lagged' to create the lagged returns column

        # Create the lagged returns column (shifted by one day)
        df_returns[prev_returns_col] = df_returns[returns_col].shift(1)

        # Remove NaN rows introduced by the shift
        df_returns.dropna(inplace=True)

        # Perform linear regression of current day's returns against previous day's returns
        model = sm.OLS(df_returns[returns_col], sm.add_constant(df_returns[prev_returns_col]))
        results = model.fit()

        # Get the autocorrelation coefficient (regression coefficient)
        autocorrelation_coefficient = results.params[prev_returns_col]

        # Calculate the volatility (standard deviation of daily returns)
        volatility = df_returns[returns_col].std()

        # Store the autocorrelation coefficient and volatility in the new DataFrame
        autocorrelation_df.loc[ticker, 'Autocorrelation'] = autocorrelation_coefficient
        autocorrelation_df.loc[ticker, 'Volatility'] = volatility

    return autocorrelation_df

autocorrelation_volatility_df = calculate_autocorrelation_volatility(is_df)
print(autocorrelation_volatility_df)

      Autocorrelation  Volatility
WELL        -0.206429    0.020403
GL          -0.134881    0.022545
DD          -0.049304    0.024412
ALL         -0.109752    0.023282
RSG         -0.030115    0.016791
...               ...         ...
MAA         -0.198579    0.027121
BKNG        -0.093792    0.028379
ESS         -0.191846    0.024764
HSY         -0.104227    0.014292
TDY         -0.106052    0.022065

[416 rows x 2 columns]

# 9. Extract the stocks with positive autocorrelation and the stocks with negative autocorrelation

In [16]:
positive_autocorrelation_df = autocorrelation_volatility_df[autocorrelation_volatility_df['Autocorrelation'] > 0]
negative_autocorrelation_df = autocorrelation_volatility_df[autocorrelation_volatility_df['Autocorrelation'] < 0]

print(len(positive_autocorrelation_df))
print(len(negative_autocorrelation_df))

60
356

# 10. Extract the 30 stocks with the highest volatility

In [17]:
top_30_posit_autocor = positive_autocorrelation_df.nlargest(30, 'Volatility')
top_30_negat_autocor = negative_autocorrelation_df.nlargest(30, 'Volatility')

print(top_30_posit_autocor)
print('')
print(top_30_negat_autocor)

      Autocorrelation  Volatility
AIG          0.145302    0.054396
AAL          0.030687    0.050370
LVS          0.068147    0.048678
FITB         0.003055    0.046090
MGM          0.119993    0.045871
RF           0.000799    0.042801
MS           0.005726    0.042535
C            0.053126    0.041812
DXCM         0.021108    0.040353
LEN          0.047150    0.039166
NFLX         0.049814    0.036632
PHM          0.017601    0.036631
LYV          0.030100    0.036546
AMD          0.007983    0.036487
MU           0.035840    0.036469
DHI          0.027930    0.036249
URI          0.088116    0.035828
RCL          0.030380    0.035698
WYNN         0.037843    0.035091
MOS          0.003260    0.033732
F            0.079799    0.031919
TTWO         0.007510    0.031908
CE           0.034037    0.030779
FFIV         0.000275    0.030173
ILMN         0.039737    0.029531
ISRG         0.016677    0.028851
VLO          0.002650    0.028792
KMX          0.012877    0.028163
BBY          0.013568    0.027877
WY           0.007393    0.027690

      Autocorrelation  Volatility
HIG         -0.012394    0.050721
HBAN        -0.066010    0.049907
CBRE        -0.100513    0.046111
LNC         -0.042741    0.045081
BAC         -0.009548    0.041015
KEY         -0.062307    0.040130
PFG         -0.044878    0.039030
ZION        -0.017930    0.038939
INCY        -0.021932    0.037845
PRU         -0.021802    0.037837
PLD         -0.170086    0.036762
HST         -0.185195    0.036561
AXON        -0.061637    0.036014
VRTX        -0.015353    0.035470
STLD        -0.020979    0.035390
MKTX        -0.145966    0.035366
TXT         -0.020583    0.034992
COF         -0.050072    0.034386
ALGN        -0.011868    0.034191
MET         -0.099855    0.033936
REGN        -0.012315    0.033627
KIM         -0.167770    0.033575
STT         -0.138051    0.033554
WFC         -0.121962    0.032887
FCX         -0.008422    0.032863
SWKS        -0.037685    0.032793
ICE         -0.078797    0.032438
IVZ         -0.132584    0.032369
RJF         -0.077608    0.032267
STX         -0.003326    0.032192

In [18]:
# Store the tickers into a list
stocks1 = top_30_posit_autocor.index
stocks1 = stocks1.to_list()

stocks2 = top_30_negat_autocor.index
stocks2 = stocks2.to_list()

print('Stocks with positive autocorrelation and high volatility')
print(stocks1)
print('')
print('Stocks with negative autocorrelation and high volatility')
print(stocks2)

Stocks with positive autocorrelation and high volatility
['AIG', 'AAL', 'LVS', 'FITB', 'MGM', 'RF', 'MS', 'C', 'DXCM', 'LEN', 'NFLX', 'PHM', 'LYV', 'AMD', 'MU', 'DHI', 'URI', 'RCL', 'WYNN', 'MOS', 'F', 'TTWO', 'CE', 'FFIV', 'ILMN', 'ISRG', 'VLO', 'KMX', 'BBY', 'WY']

Stocks with negative autocorrelation and high volatility
['HIG', 'HBAN', 'CBRE', 'LNC', 'BAC', 'KEY', 'PFG', 'ZION', 'INCY', 'PRU', 'PLD', 'HST', 'AXON', 'VRTX', 'STLD', 'MKTX', 'TXT', 'COF', 'ALGN', 'MET', 'REGN', 'KIM', 'STT', 'WFC', 'FCX', 'SWKS', 'ICE', 'IVZ', 'RJF', 'STX']

# 11. Download ohlcv data for these stocks

In [19]:
data1 = {}

for ticker in stocks1:
    
    d1 = yf.download(ticker, start='2006-01-01', end='2023-07-05')
    data1[ticker] = d1
    
print('')
    
data2 = {}

for ticker in stocks2:
    
    d2 = yf.download(ticker, start='2006-01-01', end='2023-07-05')
    data2[ticker] = d2

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [23]:
print(data1)
print('')
print(data2)

{'AIG':                    Open         High          Low        Close   Adj Close  \
Date
2006-01-03  1378.800049  1393.199951  1336.800049  1392.400024  886.258362
2006-01-04  1395.800049  1407.000000  1385.199951  1394.400024  887.531128
2006-01-05  1398.000000  1401.000000  1388.599976  1396.199951  888.676514
2006-01-06  1400.000000  1405.400024  1388.000000  1402.199951  892.495789
2006-01-09  1397.000000  1399.800049  1391.400024  1395.599976  888.294800
...                 ...          ...          ...          ...         ...
2023-06-27    55.540001    56.779999    55.400002    56.450001   56.450001
2023-06-28    56.240002    56.520000    55.680000    56.459999   56.459999
2023-06-29    56.590000    57.400002    56.549999    57.200001   57.200001
2023-06-30    57.910000    57.950001    57.349998    57.540001   57.540001
2023-07-03    57.549999    58.439999    57.549999    57.939999   57.939999

             Volume
Date
2006-01-03   438190
2006-01-04   309935
2006-01-05   197095
2006-01-06   287175
2006-01-09   292405
...             ...
2023-06-27  3349800
2023-06-28  3858300
2023-06-29  3862500
2023-06-30  3228900
2023-07-03  2257900

[4404 rows x 6 columns], 'AAL':                  Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  37.200001  38.279999  36.849998  37.450001  35.305660   1013200
2006-01-04  37.700001  40.599998  37.700001  39.200001  36.955471   1928400
2006-01-05  39.180000  39.709999  38.910000  39.709999  37.436260    317900
2006-01-06  39.709999  39.709999  38.139999  39.000000  36.766922    349200
2006-01-09  38.799999  38.880001  38.500000  38.610001  36.399254    220800
...               ...        ...        ...        ...        ...       ...
2023-06-27  16.530001  17.480000  16.520000  17.350000  17.350000  42031500
2023-06-28  17.350000  17.580000  17.280001  17.549999  17.549999  26466300
2023-06-29  17.639999  17.980000  17.530001  17.600000  17.600000  20315700
2023-06-30  17.719999  17.990000  17.670000  17.940001  17.940001  18597900
2023-07-03  17.860001  18.180000  17.820000  18.100000  18.100000  12883700

[4404 rows x 6 columns], 'LVS':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  39.720001  39.740002  38.439999  38.680000  25.796459  1104300
2006-01-04  38.799999  40.590000  38.750000  40.090000  26.736813  1468600
2006-01-05  40.099998  40.770000  40.099998  40.529999  27.030262   770900
2006-01-06  40.849998  41.919998  40.849998  41.610001  27.750532  1177200
2006-01-09  41.509998  44.250000  41.509998  42.799999  28.544172  1962600
...               ...        ...        ...        ...        ...      ...
2023-06-27  58.369999  58.900002  57.869999  58.529999  58.529999  3186000
2023-06-28  58.459999  58.459999  57.599998  57.730000  57.730000  2778200
2023-06-29  57.820000  57.970001  57.220001  57.380001  57.380001  4015000
2023-06-30  57.730000  58.459999  57.389999  58.000000  58.000000  6063600
2023-07-03  58.389999  59.220001  58.299999  58.590000  58.590000  3518200

[4404 rows x 6 columns], 'FITB':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  38.040001  38.090000  37.200001  37.869999  22.470760  2533400
2006-01-04  37.860001  38.389999  37.759998  38.340000  22.749653  1736600
2006-01-05  38.299999  38.869999  38.270000  38.860001  23.058201  4572400
2006-01-06  38.849998  39.070000  38.619999  38.840000  23.046331  2298900
2006-01-09  38.840000  39.139999  38.689999  39.000000  23.141275  1685600
...               ...        ...        ...        ...        ...      ...
2023-06-27  25.940001  26.350000  25.559999  26.180000  25.851879  3801700
2023-06-28  26.030001  26.379999  25.690001  26.330000  26.000000  4977600
2023-06-29  26.559999  26.620001  26.120001  26.250000  26.250000  4620300
2023-06-30  26.559999  26.590000  26.160000  26.209999  26.209999  3911400
2023-07-03  26.389999  26.889999  26.340000  26.760000  26.760000  2272700

[4404 rows x 6 columns], 'MGM':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  36.950001  37.200001  35.619999  36.930000  34.880768  1791900
2006-01-04  36.930000  36.930000  35.880001  35.980000  33.983498  1170900
2006-01-05  36.349998  36.400002  35.599998  35.750000  33.766258  1137600
2006-01-06  36.200001  37.000000  36.040001  36.590000  34.559635  1662700
2006-01-09  37.000000  37.919998  37.000000  37.709999  35.617485  2627200
...               ...        ...        ...        ...        ...      ...
2023-06-27  42.070000  42.639999  41.660000  42.439999  42.439999  2080000
2023-06-28  42.279999  42.689999  42.200001  42.360001  42.360001  2667100
2023-06-29  42.599998  43.189999  42.459999  43.009998  43.009998  2288800
2023-06-30  43.320000  44.279999  43.029999  43.919998  43.919998  4729400
2023-07-03  43.849998  44.259998  43.790001  43.799999  43.799999  1573900

[4404 rows x 6 columns], 'RF':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  34.200001  34.540001  33.700001  34.490002  20.718525  1584300
2006-01-04  34.419998  34.610001  34.349998  34.549999  20.754570   824100
2006-01-05  34.619999  34.930000  34.549999  34.869999  20.946793  1638100
2006-01-06  34.950001  34.959999  34.610001  34.910000  20.970823   998700
2006-01-09  34.910000  35.160000  34.720001  35.119999  21.096981  1258500
...               ...        ...        ...        ...        ...      ...
2023-06-27  17.270000  17.570000  17.160000  17.520000  17.520000  3835400
2023-06-28  17.510000  17.520000  17.240000  17.370001  17.370001  5953300
2023-06-29  17.600000  17.840000  17.559999  17.690001  17.690001  6982500
2023-06-30  17.809999  17.920000  17.590000  17.820000  17.820000  7588500
2023-07-03  17.840000  18.360001  17.799999  18.290001  18.290001  4241300

[4404 rows x 6 columns], 'MS':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  57.169998  58.490002  56.740002  58.310001  34.310352  5377000
2006-01-04  58.700001  59.279999  58.349998  58.349998  34.333881  7977800
2006-01-05  58.549999  58.590000  58.020000  58.509998  34.428043  5778000
2006-01-06  58.770000  58.849998  58.049999  58.570000  34.463345  6889800
2006-01-09  58.630001  59.290001  58.619999  59.189999  34.828163  4144500
...               ...        ...        ...        ...        ...      ...
2023-06-27  83.910004  84.870003  83.379997  84.430000  84.430000  6639900
2023-06-28  84.540001  84.559998  83.639999  83.989998  83.989998  4781600
2023-06-29  85.339996  86.059998  84.629997  85.239998  85.239998  9066500
2023-06-30  86.019997  86.489998  85.400002  85.400002  85.400002  6188200
2023-07-03  86.339996  87.660004  85.839996  86.410004  86.410004  5839300

[4404 rows x 6 columns], 'C':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03  490.000000  493.799988  481.100006  492.899994  346.774384
2006-01-04  488.600006  491.000000  483.500000  483.799988  340.372192
2006-01-05  484.399994  487.799988  484.000000  486.200012  342.060577
2006-01-06  488.799988  489.000000  482.000000  486.200012  342.060577
2006-01-09  486.000000  487.399994  483.000000  483.899994  340.442291
...                ...         ...         ...         ...         ...
2023-06-27   46.200001   46.610001   45.900002   46.400002   46.400002
2023-06-28   46.369999   46.389999   45.820000   46.230000   46.230000
2023-06-29   46.169998   46.790001   46.009998   46.290001   46.290001
2023-06-30   46.779999   46.799999   46.029999   46.040001   46.040001
2023-07-03   46.080002   47.290001   46.020000   46.740002   46.740002

              Volume
Date
2006-01-03   1537600
2006-01-04   1870960
2006-01-05   1143160
2006-01-06   1370210
2006-01-09   1680740
...              ...
2023-06-27  11863300
2023-06-28  13394900
2023-06-29  18840800
2023-06-30  15211800
2023-07-03  10159900

[4404 rows x 6 columns], 'DXCM':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03    3.747500    3.747500    3.625000    3.625000    3.625000
2006-01-04    3.660000    3.950000    3.650000    3.812500    3.812500
2006-01-05    3.857500    3.960000    3.787500    3.950000    3.950000
2006-01-06    3.995000    4.065000    3.912500    3.912500    3.912500
2006-01-09    3.937500    4.050000    3.895000    3.895000    3.895000
...                ...         ...         ...         ...         ...
2023-06-27  124.620003  125.480003  121.790001  123.500000  123.500000
2023-06-28  124.010002  127.860001  123.830002  126.419998  126.419998
2023-06-29  126.570000  128.899994  125.820000  127.940002  127.940002
2023-06-30  129.759995  131.759995  128.199997  128.509995  128.509995
2023-07-03  127.230003  127.419998  124.760002  127.019997  127.019997

             Volume
Date
2006-01-03   162000
2006-01-04   534800
2006-01-05   362800
2006-01-06   377600
2006-01-09   436000
...             ...
2023-06-27  2634200
2023-06-28  2360500
2023-06-29  2584600
2023-06-30  2377400
2023-07-03  1237900

[4404 rows x 6 columns], 'LEN':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03   60.167156   61.946903   59.262535   61.720749   51.553455
2006-01-04   61.533924   61.533924   60.511307   61.042282   50.986752
2006-01-05   61.042282   62.497543   60.757130   61.858406   51.668423
2006-01-06   61.258602   61.691250   60.875122   61.573254   51.430241
2006-01-09   61.573254   64.729599   61.278271   64.149460   53.582088
...                ...         ...         ...         ...         ...
2023-06-27  121.800003  126.349998  121.730003  126.059998  125.679657
2023-06-28  125.959999  127.080002  125.089996  125.459999  125.081467
2023-06-29  124.599998  124.639999  122.910004  123.779999  123.406540
2023-06-30  125.000000  125.690002  124.250000  125.309998  124.931923
2023-07-03  125.709999  125.900002  124.279999  125.279999  124.902016

             Volume
Date
2006-01-03  2634233
2006-01-04  1924469
2006-01-05  1645303
2006-01-06  2502939
2006-01-09  2962826
...             ...
2023-06-27  3136100
2023-06-28  3639500
2023-06-29  2294600
2023-06-30  2537600
2023-07-03   953000

[4404 rows x 6 columns], 'NFLX':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03    3.865714    3.874286    3.588571    3.721429    3.721429
2006-01-04    3.642857    3.680000    3.517143    3.571429    3.571429
2006-01-05    3.552857    3.578571    3.535714    3.561429    3.561429
2006-01-06    3.560000    3.648571    3.547143    3.575714    3.575714
2006-01-09    3.572857    3.607143    3.500000    3.571429    3.571429
...                ...         ...         ...         ...         ...
2023-06-27  417.390015  420.880005  411.500000  417.079987  417.079987
2023-06-28  423.100006  437.290009  422.890015  429.839996  429.839996
2023-06-29  434.329987  437.850006  426.149994  428.239990  428.239990
2023-06-30  431.100006  444.119995  431.100006  440.489990  440.489990
2023-07-03  439.760010  441.549988  431.619995  441.440002  441.440002

              Volume
Date
2006-01-03  15659700
2006-01-04  15950200
2006-01-05   8123500
2006-01-06   8539300
2006-01-09   8081500
...              ...
2023-06-27   4818100
2023-06-28   8811300
2023-06-29   4932300
2023-06-30   7342000
2023-07-03   3733200

[4404 rows x 6 columns], 'PHM':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  39.500000  41.459999  39.500000  41.240002  34.902023  3434500
2006-01-04  41.240002  41.430000  40.529999  40.889999  34.605812  1988500
2006-01-05  40.669998  42.290001  40.669998  41.820000  35.392902  1594000
2006-01-06  41.349998  41.820000  40.799999  41.619999  35.223610  1996800
2006-01-09  41.619999  44.200001  41.610001  44.080002  37.305553  3204000
...               ...        ...        ...        ...        ...      ...
2023-06-27  76.430000  78.800003  76.239998  78.669998  78.669998  2253600
2023-06-28  78.300003  79.150002  77.580002  77.720001  77.720001  3099700
2023-06-29  77.449997  77.690002  76.550003  77.320000  77.320000  1835500
2023-06-30  77.769997  78.150002  76.989998  77.680000  77.680000  2183600
2023-07-03  78.010002  78.050003  76.690002  77.290001  77.290001  1389600

[4404 rows x 6 columns], 'LYV':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  12.900000  13.500000  12.810000  13.500000  13.500000  1875500
2006-01-04  13.470000  13.850000  13.000000  13.000000  13.000000  2342000
2006-01-05  13.300000  13.310000  12.950000  13.000000  13.000000  2880600
2006-01-06  13.000000  13.080000  12.770000  12.930000  12.930000  1627700
2006-01-09  12.830000  13.750000  12.820000  13.750000  13.750000  1133300
...               ...        ...        ...        ...        ...      ...
2023-06-27  87.930000  88.800003  87.230003  88.070000  88.070000  1423500
2023-06-28  88.239998  89.129997  87.730003  88.720001  88.720001  1314600
2023-06-29  88.660004  90.279999  88.260002  89.680000  89.680000  1579500
2023-06-30  90.410004  91.440002  90.209999  91.110001  91.110001  1402800
2023-07-03  91.110001  91.959999  90.849998  91.750000  91.750000   768900

[4404 rows x 6 columns], 'AMD':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03   31.020000   32.580002   30.879999   32.400002   32.400002
2006-01-04   32.500000   33.099998   32.450001   32.560001   32.560001
2006-01-05   32.509998   33.939999   32.509998   33.680000   33.680000
2006-01-06   33.900002   34.250000   32.950001   33.779999   33.779999
2006-01-09   33.750000   33.980000   33.119999   33.250000   33.250000
...                ...         ...         ...         ...         ...
2023-06-27  108.570000  110.970001  107.080002  110.389999  110.389999
2023-06-28  108.209999  111.779999  107.629997  110.169998  110.169998
2023-06-29  112.070000  112.760002  109.839996  111.239998  111.239998
2023-06-30  113.029999  114.690002  112.410004  113.910004  113.910004
2023-07-03  115.160004  116.730003  114.510002  115.820000  115.820000

              Volume
Date
2006-01-03  16649600
2006-01-04  11301400
2006-01-05  13806800
2006-01-06  13307900
2006-01-09   9980000
...              ...
2023-06-27  59381600
2023-06-28  67534100
2023-06-29  58347200
2023-06-30  53331900
2023-07-03  31860000

[4404 rows x 6 columns], 'MU':                  Open       High        Low      Close  Adj Close    Volume
Date
2006-01-03  13.480000  13.600000  13.340000  13.510000  13.346395   9705200
2006-01-04  13.750000  14.140000  13.640000  14.050000  13.879857  12893700
2006-01-05  14.020000  14.200000  13.900000  14.180000  14.008284  11511200
2006-01-06  14.410000  14.600000  14.230000  14.470000  14.294770  10694100
2006-01-09  14.450000  14.810000  14.430000  14.700000  14.521985   6825300
...               ...        ...        ...        ...        ...       ...
2023-06-27  65.269997  66.839996  63.790001  66.790001  66.790001  18305200
2023-06-28  65.650002  67.730003  65.389999  67.070000  67.070000  27100100
2023-06-29  67.839996  67.949997  63.549999  64.330002  64.330002  51141900
2023-06-30  64.500000  65.099998  62.900002  63.110001  63.110001  31530900
2023-07-03  63.439999  64.320000  63.259998  63.900002  63.900002  12921300

[4404 rows x 6 columns], 'DHI':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03   36.459999   37.119999   35.200001   36.939999   28.948830
2006-01-04   36.830002   36.840000   36.340000   36.639999   28.713730
2006-01-05   36.400002   37.980000   36.400002   37.369999   29.285820
2006-01-06   36.990002   37.270000   36.259998   37.250000   29.191767
2006-01-09   37.299999   40.099998   37.290001   39.950001   31.307686
...                ...         ...         ...         ...         ...
2023-06-27  120.129997  123.779999  120.129997  123.050003  123.050003
2023-06-28  123.010002  124.050003  121.730003  122.199997  122.199997
2023-06-29  121.360001  121.610001  119.440002  120.339996  120.339996
2023-06-30  121.040001  122.309998  119.889999  121.690002  121.690002
2023-07-03  121.599998  122.029999  119.739998  120.169998  120.169998

             Volume
Date
2006-01-03  2511000
2006-01-04  1539000
2006-01-05  2000400
2006-01-06  3606600
2006-01-09  4473500
...             ...
2023-06-27  4029300
2023-06-28  3177800
2023-06-29  3894000
2023-06-30  4423500
2023-07-03  1472900

[4404 rows x 6 columns], 'URI':                   Open        High         Low       Close   Adj Close  Volume
Date
2006-01-03   23.590000   23.870001   23.070000   23.820000   23.639263  728200
2006-01-04   23.820000   23.940001   23.520000   23.740000   23.559870  623100
2006-01-05   23.670000   23.900000   23.570000   23.840000   23.659111  752100
2006-01-06   23.990000   23.990000   23.580000   23.799999   23.619413  395800
2006-01-09   23.840000   24.200001   23.750000   24.110001   23.927063  669600
...                ...         ...         ...         ...         ...     ...
2023-06-27  415.010010  426.799988  412.929993  423.269989  423.269989  903100
2023-06-28  421.500000  431.809998  419.950012  430.369995  430.369995  880400
2023-06-29  430.079987  438.079987  429.399994  435.630005  435.630005  708900
2023-06-30  440.000000  448.450012  437.100006  445.369995  445.369995  782800
2023-07-03  443.000000  450.649994  442.959991  448.630005  448.630005  382800

[4404 rows x 6 columns], 'RCL':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03   45.480000   45.480000   44.330002   44.959999   36.126335
2006-01-04   45.189999   45.299999   44.380001   44.799999   35.997784
2006-01-05   44.820000   44.869999   44.509998   44.720001   35.933487
2006-01-06   45.049999   45.220001   44.799999   45.099998   36.238831
2006-01-09   45.250000   45.490002   45.160000   45.490002   36.552208
...                ...         ...         ...         ...         ...
2023-06-27   98.220001  101.720001   97.910004  101.430000  101.430000
2023-06-28  101.430000  105.209999  101.010002  103.129997  103.129997
2023-06-29  103.389999  103.980003  101.489998  101.559998  101.559998
2023-06-30  103.029999  104.750000  102.629997  103.739998  103.739998
2023-07-03  103.500000  103.910004  102.260002  103.199997  103.199997

             Volume
Date
2006-01-03  1759500
2006-01-04  1376200
2006-01-05   995300
2006-01-06  1119300
2006-01-09   737400
...             ...
2023-06-27  5630600
2023-06-28  4766100
2023-06-29  3409400
2023-06-30  3652700
2023-07-03  1906700

[4404 rows x 6 columns], 'WYNN':                   Open        High         Low       Close   Adj Close  \
Date
2006-01-03   54.849998   54.990002   52.639999   53.950001   29.704004
2006-01-04   53.759998   54.169998   52.439999   53.849998   29.648949
2006-01-05   53.950001   54.169998   53.000000   53.529999   29.472769
2006-01-06   54.799999   54.799999   53.459999   54.040001   29.753553
2006-01-09   54.700001   57.570000   54.380001   56.590000   31.157545
...                ...         ...         ...         ...         ...
2023-06-27  105.529999  106.500000  104.779999  105.760002  105.760002
2023-06-28  105.610001  105.610001  104.010002  104.250000  104.250000
2023-06-29  104.699997  105.699997  103.720001  104.500000  104.500000
2023-06-30  105.120003  106.360001  104.099998  105.610001  105.610001
2023-07-03  105.839996  108.370003  105.830002  106.620003  106.620003

             Volume
Date
2006-01-03  1626300
2006-01-04   952300
2006-01-05   631400
2006-01-06   675900
2006-01-09  1681700
...             ...
2023-06-27  1111000
2023-06-28  1470900
2023-06-29  1354700
2023-06-30  1349400
2023-07-03  1120300

[4404 rows x 6 columns], 'MOS':                  Open       High        Low      Close  Adj Close   Volume
Date
2006-01-03  14.640000  15.000000  14.640000  15.000000  11.818828   603600

# 12. Export data to csv format

In [13]:
# Export ohlcv data of each ticker in csv format
for ticker, df in data1.items():
    df.to_csv(f'{ticker}.csv')
    
for ticker, df in data2.items():
    df.to_csv(f'{ticker}.csv')