# EXTRACT S&P500 TICKERS AND DOWNLOAD DATA

![Logo](images/logo.png)

# Summary

1. Goal
2. Import libraries
3. Import S&P500 tickers from a github source
4. Store the tickers names into a list
5. Download ohlcv data of the tickers by looping throw each one of them (using yfinance)
6. Export each dataframe containing ohlcv data of each stock to csv format

# 1. Goal

- Extract the ticker name of each constituent of the s&p500
- Download their respective daily ohlcv data (we want one dataframe per stock's data, not one dataframe for all stock's data)
- Export the data

# 2. Import libraries

In [1]:
# Import of the required libraries

# Library for data handling
import pandas as pd
import numpy as np

# Libraries for plotting
import matplotlib.pyplot as plt
%matplotlib inline

# Divers
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

# Library for fetching datas
import yfinance as yf

/opt/anaconda3/envs/new/lib/python3.9/site-packages/pyfolio/pos.py:26: UserWarning: Module "zipline.assets" not found; mutltipliers will not be applied to position notionals.
  warnings.warn(

# 3. Import S&P500 tickers from a github source

In [2]:
# Define the url where the csv file is located
url = 'https://raw.githubusercontent.com/datasets/s-and-p-500-companies/main/data/constituents.csv'

# Import the csv dile using read_csv function
df = pd.read_csv(url, index_col=0)
df

,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
Symbol,,,,,,,
MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...
YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

# 4. Store the tickers names into a list

In [3]:
# Create a column 'tickers' in the dataframe
df['Tickers'] = df.index

In [4]:
# Convert the column 'tickers' into a list
stocks = df['Tickers'].tolist()
print(len(stocks))
print(stocks)

503
['MMM', 'AOS', 'ABT', 'ABBV', 'ACN', 'ATVI', 'ADM', 'ADBE', 'ADP', 'AAP', 'AES', 'AFL', 'A', 'APD', 'AKAM', 'ALK', 'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AMD', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'ABC', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'AON', 'APA', 'AAPL', 'AMAT', 'APTV', 'ACGL', 'ANET', 'AJG', 'AIZ', 'T', 'ATO', 'ADSK', 'AZO', 'AVB', 'AVY', 'AXON', 'BKR', 'BALL', 'BAC', 'BBWI', 'BAX', 'BDX', 'WRB', 'BRK.B', 'BBY', 'BIO', 'TECH', 'BIIB', 'BLK', 'BK', 'BA', 'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BRO', 'BF.B', 'BG', 'CHRW', 'CDNS', 'CZR', 'CPT', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR', 'CTLT', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'CNC', 'CNP', 'CDAY', 'CF', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB', 'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CLX', 'CME', 'CMS', 'KO', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED', 'STZ', 'CEG', 'COO', 'CPRT', 'GLW', 'CTVA', 'CSGP', 'COST', 'CTRA', 'CCI', 'CSX', 'CMI', 'CVS', 'DHI', 'DHR', 'DRI', 'DVA', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR', 'DFS', 'DIS', 'DG', 'DLTR', 'D', 'DPZ', 'DOV', 'DOW', 'DTE', 'DUK', 'DD', 'DXC', 'EMN', 'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'ELV', 'LLY', 'EMR', 'ENPH', 'ETR', 'EOG', 'EPAM', 'EQT', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'RE', 'EVRG', 'ES', 'EXC', 'EXPE', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FDS', 'FICO', 'FAST', 'FRT', 'FDX', 'FITB', 'FSLR', 'FE', 'FIS', 'FI', 'FLT', 'FMC', 'F', 'FTNT', 'FTV', 'FOXA', 'FOX', 'BEN', 'FCX', 'GRMN', 'IT', 'GEHC', 'GEN', 'GNRC', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GL', 'GPN', 'GS', 'HAL', 'HIG', 'HAS', 'HCA', 'PEAK', 'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'HOLX', 'HD', 'HON', 'HRL', 'HST', 'HWM', 'HPQ', 'HUM', 'HBAN', 'HII', 'IBM', 'IEX', 'IDXX', 'ITW', 'ILMN', 'INCY', 'IR', 'PODD', 'INTC', 'ICE', 'IFF', 'IP', 'IPG', 'INTU', 'ISRG', 'IVZ', 'INVH', 'IQV', 'IRM', 'JBHT', 'JKHY', 'J', 'JNJ', 'JCI', 'JPM', 'JNPR', 'K', 'KDP', 'KEY', 'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LHX', 'LH', 'LRCX', 'LW', 'LVS', 'LDOS', 'LEN', 'LNC', 'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LYB', 'MTB', 'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MTCH', 'MKC', 'MCD', 'MCK', 'MDT', 'MRK', 'META', 'MET', 'MTD', 'MGM', 'MCHP', 'MU', 'MSFT', 'MAA', 'MRNA', 'MHK', 'MOH', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX', 'NWL', 'NEM', 'NWSA', 'NWS', 'NEE', 'NKE', 'NI', 'NDSN', 'NSC', 'NTRS', 'NOC', 'NCLH', 'NRG', 'NUE', 'NVDA', 'NVR', 'NXPI', 'ORLY', 'OXY', 'ODFL', 'OMC', 'ON', 'OKE', 'ORCL', 'OGN', 'OTIS', 'PCAR', 'PKG', 'PANW', 'PARA', 'PH', 'PAYX', 'PAYC', 'PYPL', 'PNR', 'PEP', 'PFE', 'PCG', 'PM', 'PSX', 'PNW', 'PXD', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR', 'PLD', 'PRU', 'PEG', 'PTC', 'PSA', 'PHM', 'QRVO', 'PWR', 'QCOM', 'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RVTY', 'RHI', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SEE', 'SRE', 'NOW', 'SHW', 'SPG', 'SWKS', 'SJM', 'SNA', 'SEDG', 'SO', 'LUV', 'SWK', 'SBUX', 'STT', 'STLD', 'STE', 'SYK', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR', 'TRGP', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN', 'TXT', 'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TYL', 'TSN', 'USB', 'UDR', 'ULTA', 'UNP', 'UAL', 'UPS', 'URI', 'UNH', 'UHS', 'VLO', 'VTR', 'VRSN', 'VRSK', 'VZ', 'VRTX', 'VFC', 'VTRS', 'VICI', 'V', 'VMC', 'WAB', 'WBA', 'WMT', 'WBD', 'WM', 'WAT', 'WEC', 'WFC', 'WELL', 'WST', 'WDC', 'WRK', 'WY', 'WHR', 'WMB', 'WTW', 'GWW', 'WYNN', 'XEL', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS']

# 5. Download ohlcv data of the tickers by looping throw each one of them (using yfinance)

In [5]:
data = {}

# Loop throw each symbol and use yfinance to download data and store it into the empty dictionnary 'data'
for ticker in stocks:
    
    d = yf.download(ticker, start='2006-01-01', end='2023-06-27')
    data[ticker] = d

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

ERROR
1 Failed download:
ERROR ['BRK.B']: Exception('BRK.B: No timezone found, symbol may be delisted')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

ERROR
1 Failed download:
ERROR ['BF.B']: Exception('BF.B: No price data found, symbol may be delisted (1d 2006-01-01 -> 2023-06-27)')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
# Verify the output
data

{'MMM':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   77.760002   79.349998   77.239998   79.110001   47.772102
 2006-01-04   79.489998   79.489998   78.250000   78.709999   47.530556
 2006-01-05   78.410004   78.650002   77.559998   77.989998   47.095772
 2006-01-06   78.639999   78.900002   77.639999   78.629997   47.482265
 2006-01-09   78.500000   79.830002   78.459999   79.019997   47.717766
 ...                ...         ...         ...         ...         ...
 2023-06-20  102.779999  102.930000  101.080002  102.300003  102.300003
 2023-06-21  101.669998  102.290001  100.800003  101.470001  101.470001
 2023-06-22  101.290001  101.309998   99.639999  100.430000  100.430000
 2023-06-23  103.300003  103.500000   99.480003  100.720001  100.720001
 2023-06-26  100.000000  100.889999   99.470001  100.410004  100.410004

              Volume
 Date
 2006-01-03  3117200
 2006-01-04  2558000
 2006-01-05  2529500
 2006-01-06  2479500
 2006-01-09  1845600
 ...             ...
 2023-06-20  2746200
 2023-06-21  2518100
 2023-06-22  2594900
 2023-06-23  7808000
 2023-06-26  3653500

 [4399 rows x 6 columns],
 'AOS':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2006-01-03   5.870000   6.146667   5.863333   6.141667   4.647546  1702800
 2006-01-04   6.141667   6.230000   6.120000   6.175000   4.672769  1293600
 2006-01-05   6.258333   6.280000   6.085000   6.116667   4.628627  1296600
 2006-01-06   6.283333   6.375000   6.266667   6.326667   4.787541  2917200
 2006-01-09   6.308333   6.601667   6.308333   6.541667   4.950234  2010600
 ...               ...        ...        ...        ...        ...      ...
 2023-06-20  70.419998  70.629997  69.809998  70.089996  70.089996   693200
 2023-06-21  69.720001  70.339996  69.220001  69.849998  69.849998   712400
 2023-06-22  69.769997  69.769997  68.970001  69.040001  69.040001   867400
 2023-06-23  68.580002  69.639999  68.169998  69.489998  69.489998  1112700
 2023-06-26  69.489998  71.070000  69.489998  70.949997  70.949997   822900

 [4399 rows x 6 columns],
 'ABT':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   18.976089   19.168011   18.803362   18.976089   12.590349
 2006-01-04   18.894524   19.182404   18.798565   19.004877   12.609449
 2006-01-05   19.048059   19.412708   19.024071   19.249577   12.771802
 2006-01-06   19.220787   19.662205   19.014475   19.619022   13.016925
 2006-01-09   20.391500   20.511450   19.998064   20.348318   13.500801
 ...                ...         ...         ...         ...         ...
 2023-06-20  105.199997  107.669998  104.900002  106.699997  106.699997
 2023-06-21  106.620003  106.760002  105.610001  106.250000  106.250000
 2023-06-22  106.690002  108.360001  106.440002  108.250000  108.250000
 2023-06-23  108.199997  108.500000  107.370003  108.050003  108.050003
 2023-06-26  108.099998  109.209999  106.800003  108.510002  108.510002

               Volume
 Date
 2006-01-03  17258233
 2006-01-04  16334514
 2006-01-05  11570029
 2006-01-06  13729262
 2006-01-09  23626303
 ...              ...
 2023-06-20   6573100
 2023-06-21   4428600
 2023-06-22   5480300
 2023-06-23   5647000
 2023-06-26   6134700

 [4399 rows x 6 columns],
 'ABBV':                   Open        High         Low       Close   Adj Close  \
 Date
 2013-01-02   34.919998   35.400002   34.099998   35.119999   22.895285
 2013-01-03   35.000000   35.000000   34.160000   34.830002   22.706230
 2013-01-04   34.619999   34.889999   34.250000   34.389999   22.419386
 2013-01-07   34.150002   35.450001   34.150002   34.459999   22.465015
 2013-01-08   34.290001   34.639999   33.360001   33.709999   21.976088
 ...                ...         ...         ...         ...         ...
 2023-06-20  137.100006  138.949997  136.660004  137.820007  137.820007
 2023-06-21  136.750000  137.429993  134.679993  136.860001  136.860001
 2023-06-22  137.149994  137.899994  135.889999  137.410004  137.410004
 2023-06-23  137.300003  138.690002  135.669998  135.919998  135.919998
 2023-06-26  136.149994  136.149994  133.690002  134.949997  134.949997

               Volume
 Date
 2013-01-02  13767900
 2013-01-03  16739300
 2013-01-04  21372100
 2013-01-07  17897100
 2013-01-08  17863300
 ...              ...
 2023-06-20   4868800
 2023-06-21   5828400
 2023-06-22   4826900
 2023-06-23   7394900
 2023-06-26   6463000

 [2638 rows x 6 columns],
 'ACN':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   28.840000   29.500000   28.820000   29.299999   21.528088
 2006-01-04   29.379999   29.459999   29.049999   29.459999   21.645647
 2006-01-05   29.480000   29.820000   29.340000   29.680000   21.807297
 2006-01-06   31.000000   31.360001   29.900000   31.150000   22.887375
 2006-01-09   30.799999   31.150000   30.750000   31.059999   22.821241
 ...                ...         ...         ...         ...         ...
 2023-06-20  317.260010  320.640015  315.010010  317.399994  317.399994
 2023-06-21  316.489990  317.670013  313.089996  313.200012  313.200012
 2023-06-22  298.209991  307.570007  296.000000  307.250000  307.250000
 2023-06-23  300.019989  302.690002  297.700012  298.429993  298.429993
 2023-06-26  296.589996  300.859985  296.510010  297.410004  297.410004

              Volume
 Date
 2006-01-03  3843400
 2006-01-04  1953800
 2006-01-05  4119300
 2006-01-06  7378900
 2006-01-09  1904800
 ...             ...
 2023-06-20  3349400
 2023-06-21  3121400
 2023-06-22  4889000
 2023-06-23  4233800
 2023-06-26  2826900

 [4399 rows x 6 columns],
 'ATVI':                  Open       High        Low      Close  Adj Close    Volume
 Date
 2006-01-03   6.895000   7.045000   6.700000   6.970000   6.179416  11605200
 2006-01-04   6.965000   7.100000   6.850000   7.055000   6.254775   6527200
 2006-01-05   7.225000   7.280000   7.070000   7.115000   6.307970   7756800
 2006-01-06   7.135000   7.470000   7.075000   7.445000   6.600539  14497000
 2006-01-09   7.325000   7.535000   7.215000   7.375000   6.538478   8815400
 ...               ...        ...        ...        ...        ...       ...
 2023-06-20  81.690002  81.989998  81.550003  81.889999  81.889999   5246100
 2023-06-21  81.650002  81.839996  80.830002  80.940002  80.940002   5277500
 2023-06-22  80.480003  82.320000  80.300003  82.300003  82.300003   4877700
 2023-06-23  82.040001  82.400002  81.620003  81.900002  81.900002   6735200
 2023-06-26  82.250000  83.709999  82.120003  83.400002  83.400002   7865800

 [4399 rows x 6 columns],
 'ADM':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2006-01-03  24.750000  24.750000  24.049999  24.379999  16.240112  4270600
 2006-01-04  24.620001  26.000000  24.600000  25.920000  17.265945  9920600
 2006-01-05  26.000000  26.000000  25.250000  25.299999  16.852943  5150400
 2006-01-06  25.719999  26.049999  25.480000  26.049999  17.352551  3425400
 2006-01-09  26.110001  26.900000  26.110001  26.370001  17.565697  5990200
 ...               ...        ...        ...        ...        ...      ...
 2023-06-20  75.000000  75.169998  73.470001  74.080002  74.080002  3379200
 2023-06-21  73.620003  74.769997  72.449997  73.459999  73.459999  3441000
 2023-06-22  74.199997  74.199997  72.510002  73.059998  73.059998  2472800
 2023-06-23  72.779999  73.160004  72.529999  72.900002  72.900002  3636700
 2023-06-26  72.989998  73.820000  72.949997  73.639999  73.639999  2511900

 [4399 rows x 6 columns],
 'ADBE':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   37.200001   38.799999   36.130001   38.520000   38.520000
 2006-01-04   38.700001   38.799999   37.799999   38.419998   38.419998
 2006-01-05   38.259998   38.490002   37.540001   38.070000   38.070000
 2006-01-06   38.500000   39.020000   38.450001   39.000000   39.000000
 2006-01-09   39.049999   39.060001   37.869999   38.380001   38.380001
 ...                ...         ...         ...         ...         ...
 2023-06-20  485.630005  492.690002  480.000000  485.859985  485.859985
 2023-06-21  492.000000  495.549988  475.309998  477.480011  477.480011
 2023-06-22  474.119995  481.000000  473.019989  477.579987  477.579987
 2023-06-23  472.950012  487.329987  472.320007  484.720001  484.720001
 2023-06-26  483.010010  487.160004  479.049988  479.510010  479.510010

               Volume
 Date
 2006-01-03  12752600
 2006-01-04   6941100
 2006-01-05   6731300
 2006-01-06   8117100
 2006-01-09   6244300
 ...              ...
 2023-06-20   5331200
 2023-06-21   5258700
 2023-06-22   3601400
 2023-06-23   4450200
 2023-06-26   3168700

 [4399 rows x 6 columns],
 'ADP':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   37.036095   37.036095   36.330265   36.742661   23.991138
 2006-01-04   36.829895   37.012302   36.734730   36.861618   24.068802
 2006-01-05   36.782314   36.845757   36.544392   36.552322   23.866856
 2006-01-06   36.552322   36.980579   36.473019   36.869549   24.073986
 2006-01-09   36.750591   36.909203   36.671284   36.774384   24.011845
 ...                ...         ...         ...         ...         ...
 2023-06-20  221.470001  222.279999  219.899994  220.279999  220.279999
 2023-06-21  219.429993  221.809998  218.330002  220.559998  220.559998
 2023-06-22  220.149994  222.270004  218.830002  220.399994  220.399994
 2023-06-23  218.449997  218.860001  213.210007  213.830002  213.830002
 2023-06-26  212.919998  216.300003  212.820007  215.539993  215.539993

              Volume
 Date
 2006-01-03  2419855
 2006-01-04  1427753
 2006-01-05  2401571
 2006-01-06  1773627
 2006-01-09  1704528
 ...             ...
 2023-06-20  1779400
 2023-06-21  1602700
 2023-06-22  1279700
 2023-06-23  2189700
 2023-06-26  1169600

 [4399 rows x 6 columns],
 'AAP':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2006-01-03  43.470001  43.849998  43.299999  43.520000  38.559845  1613400
 2006-01-04  43.900002  44.709999  43.650002  43.830002  38.834511   896800
 2006-01-05  43.840000  44.189999  43.750000  44.040001  39.020599   944600
 2006-01-06  44.049999  44.139999  43.759998  43.990002  38.976295  1078200
 2006-01-09  43.900002  44.740002  43.900002  44.560001  39.481323   609700
 ...               ...        ...        ...        ...        ...      ...
 2023-06-20  69.220001  69.589996  67.370003  67.980003  67.980003  3743700
 2023-06-21  67.779999  69.839996  67.449997  68.720001  68.720001  2956300
 2023-06-22  69.190002  69.360001  67.519997  67.970001  67.970001  2525600
 2023-06-23  67.669998  67.669998  65.650002  65.669998  65.669998  3297300
 2023-06-26  65.989998  67.339996  65.949997  67.290001  67.290001  1990800

 [4399 rows x 6 columns],
 'AES':                  Open       High        Low      Close  Adj Close    Volume
 Date
 2006-01-03  15.920000  16.250000  15.630000  16.200001  11.780909   2026600
 2006-01-04  16.350000  16.950001  16.309999  16.889999  12.282686   4593200
 2006-01-05  16.830000  16.930000  16.629999  16.730000  12.166334   1846700
 2006-01-06  16.889999  17.070000  16.730000  17.000000  12.362681   2026700
 2006-01-09  17.000000  17.059999  16.700001  16.709999  12.151787   2198000
 ...               ...        ...        ...        ...        ...       ...
 2023-06-20  21.250000  21.250000  20.889999  21.010000  21.010000   3434600
 2023-06-21  20.910000  21.160000  20.709999  20.980000  20.980000   3938400
 2023-06-22  20.450001  20.920000  19.879999  20.910000  20.910000  13166800
 2023-06-23  20.799999  20.840000  20.379999  20.430000  20.430000  13059200
 2023-06-26  20.459999  20.770000  20.410000  20.709999  20.709999   5520300

 [4399 rows x 6 columns],
 'AFL':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2006-01-03  23.325001  23.370001  23.125000  23.285000  15.402793  3609200
 2006-01-04  23.350000  23.459999  23.299999  23.415001  15.488789  4377000
 2006-01-05  23.455000  23.665001  23.424999  23.605000  15.614472  3570200
 2006-01-06  24.450001  24.575001  24.180000  24.450001  16.173431  4166400
 2006-01-09  24.514999  24.700001  24.485001  24.565001  16.249506  3697800
 ...               ...        ...        ...        ...        ...      ...
 2023-06-20  68.919998  69.000000  67.720001  67.800003  67.800003  2914900
 2023-06-21  67.199997  67.970001  66.580002  67.529999  67.529999  2960500
 2023-06-22  67.519997  67.709999  67.099998  67.540001  67.540001  1807300
 2023-06-23  67.230003  67.660004  66.910004  67.139999  67.139999  2967700
 2023-06-26  67.160004  67.959999  67.019997  67.580002  67.580002  1626000

 [4399 rows x 6 columns],
 'A':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   23.891273   24.020029   23.476395   23.962805   20.439508
 2006-01-04   23.998569   24.198856   23.869814   24.027182   20.494423
 2006-01-05   23.927038   24.656652   23.927038   24.656652   21.031345
 2006-01-06   24.678112   24.885551   24.384834   24.785408   21.141171
 2006-01-09   24.785408   24.892704   24.620888   24.713877   21.080162
 ...                ...         ...         ...         ...         ...
 2023-06-20  118.639999  118.790001  116.879997  118.160004  118.160004
 2023-06-21  117.790001  119.110001  117.269997  118.330002  118.330002
 2023-06-22  118.839996  118.949997  117.169998  118.680000  118.680000
 2023-06-23  117.760002  119.709999  117.580002  119.419998  119.419998
 2023-06-26  118.959999  119.800003  117.339996  118.370003  118.370003

              Volume
 Date
 2006-01-03  5307088
 2006-01-04  4195817
 2006-01-05  4835402
 2006-01-06  6146307
 2006-01-09  4082859
 ...             ...
 2023-06-20  2108200
 2023-06-21  1393400
 2023-06-22  1736000
 2023-06-23  2632600
 2023-06-26  1673400

 [4399 rows x 6 columns],
 'APD':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   54.949120   55.254395   54.403332   55.143387   36.235775
 2006-01-04   55.013878   55.013878   54.394081   54.514339   35.822433
 2006-01-05   54.579094   54.782608   53.950047   54.042553   35.512394
 2006-01-06   54.273823   55.337650   54.273823   55.300648   36.339115
 2006-01-09   55.134136   55.189640   54.384830   54.597595   35.877129
 ...                ...         ...         ...         ...         ...
 2023-06-20  289.950012  290.420013  287.299988  289.299988  289.299988
 2023-06-21  287.690002  290.179993  285.459991  289.140015  289.140015
 2023-06-22  287.140015  289.000000  284.480011  288.010010  288.010010
 2023-06-23  286.630005  288.119995  284.670013  286.260010  286.260010
 2023-06-26  287.119995  288.160004  285.049988  286.390015  286.390015

              Volume
 Date
 2006-01-03  1222719
 2006-01-04  1531993
 2006-01-05  1284877
 2006-01-06   816047
 2006-01-09   654437
 ...             ...
 2023-06-20   674200
 2023-06-21   674900
 2023-06-22   636500
 2023-06-23   712500
 2023-06-26   721200

 [4399 rows x 6 columns],
 'AKAM':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2006-01-03  20.000000  20.940001  19.570000  20.799999  20.799999  3352300
 2006-01-04  20.900000  21.580000  20.770000  21.320000  21.320000  3374800
 2006-01-05  21.350000  21.730000  20.820000  21.600000  21.600000  3206100
 2006-01-06  21.680000  22.690001  21.680000  22.469999  22.469999  3321800
 2006-01-09  22.590000  22.650000  21.959999  22.129999  22.129999  1921200
 ...               ...        ...        ...        ...        ...      ...
 2023-06-20  91.199997  91.910004  90.250000  90.680000  90.680000  1767600
 2023-06-21  90.239998  90.489998  87.809998  88.070000  88.070000  1958800
 2023-06-22  87.639999  88.370003  86.940002  88.260002  88.260002  1236400
 2023-06-23  87.779999  88.940002  87.540001  88.629997  88.629997  1689000
 2023-06-26  88.370003  88.889999  88.169998  88.449997  88.449997  1059700

 [4399 rows x 6 columns],
 'ALK':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2006-01-03   8.957500   8.960000   8.642500   8.812500   7.924739  2075600
 2006-01-04   8.875000   9.047500   8.872500   8.987500   8.082110  2772800
 2006-01-05   9.007500   9.007500   8.772500   8.890000   7.994434  4323600
 2006-01-06   8.890000   8.890000   8.670000   8.815000   7.926987  1547200
 2006-01-09   8.752500   8.987500   8.737500   8.957500   8.055134  1998800
 ...               ...        ...        ...        ...        ...      ...
 2023-06-20  49.959999  50.160000  49.330002  49.509998  49.509998  1366600
 2023-06-21  49.340000  49.840000  49.020000  49.580002  49.580002  1288200
 2023-06-22  49.209999  49.790001  48.779999  49.669998  49.669998  1611100
 2023-06-23  48.750000  49.889999  48.630001  49.250000  49.250000  2410000
 2023-06-26  49.720001  50.299999  49.049999  49.959999  49.959999   961300

 [4399 rows x 6 columns],
 'ALB':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   19.290001   21.000000   19.290001   20.485001   15.987530
 2006-01-04   20.035000   20.365000   19.780001   20.075001   15.667537
 2006-01-05   20.075001   20.184999   19.995001   20.075001   15.667537
 2006-01-06   20.100000   20.110001   19.855000   19.934999   15.558281
 2006-01-09   19.825001   20.000000   19.700001   19.955000   15.573891
 ...                ...         ...         ...         ...         ...
 2023-06-20  228.570007  233.600006  225.089996  232.220001  232.220001
 2023-06-21  230.000000  233.029999  229.179993  230.380005  230.380005
 2023-06-22  228.770004  228.770004  222.410004  226.000000  226.000000
 2023-06-23  221.690002  221.960007  218.199997  220.179993  220.179993
 2023-06-26  221.850006  228.029999  221.369995  225.220001  225.220001

              Volume
 Date
 2006-01-03  2859400
 2006-01-04  1344000
 2006-01-05   520800
 2006-01-06   541600
 2006-01-09   544800
 ...             ...
 2023-06-20  2286600
 2023-06-21  1553500
 2023-06-22  1594700
 2023-06-23  3466200
 2023-06-26  1688700

 [4399 rows x 6 columns],
 'ARE':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03   80.750000   82.570000   79.459999   82.360001   47.986336
 2006-01-04   82.300003   83.209999   82.150002   82.680000   48.172745
 2006-01-05   82.800003   84.199997   82.750000   83.739998   48.790344
 2006-01-06   83.989998   84.709999   83.690002   84.699997   49.349682
 2006-01-09   84.699997   85.830002   84.599998   85.800003   49.990574
 ...                ...         ...         ...         ...         ...
 2023-06-20  115.169998  115.279999  113.019997  114.040001  114.040001
 2023-06-21  113.489998  114.320000  112.139999  113.209999  113.209999
 2023-06-22  113.400002  113.400002  110.080002  110.849998  110.849998
 2023-06-23  110.370003  111.330002  108.809998  109.080002  109.080002
 2023-06-26  109.190002  114.550003  109.190002  114.510002  114.510002

              Volume
 Date
 2006-01-03   126500
 2006-01-04    71100
 2006-01-05    68700
 2006-01-06    96100
 2006-01-09    59200
 ...             ...
 2023-06-20  1467800
 2023-06-21  1112800
 2023-06-22   924300
 2023-06-23  1350300
 2023-06-26  1499300

 [4399 rows x 6 columns],
 'ALGN':                   Open        High         Low       Close   Adj Close  \
 Date
 2006-01-03    6.350000    6.390000    5.960000    6.280000    6.280000
 2006-01-04    6.300000    6.300000    6.060000    6.080000    6.080000
 2006-01-05    6.120000    6.280000    6.080000    6.210000    6.210000
 2006-01-06    6.250000    6.350000    6.120000    6.190000    6.190000
 2006-01-09    6.150000    6.360000    6.150000    6.340000    6.340000
 ...                ...         ...         ...         ...         ...
 2023-06-20  327.019989  333.049988  320.529999  331.429993  331.429993

# 6. Export each dataframe containing ohlcv data of each stock to csv format

In [7]:
# Export ohlcv data of each ticker in csv format
for ticker, df in data.items():
    df.to_csv(f'{ticker}.csv')